html {
    height: 100%;
    font-size: 10px;
}

h1 {
    color: #9857AD;
    font-family: 'Open Sans Condensed', 'Arial', 'Helvetica', sans-serif;
    font-size: 5.6rem;
    font-weight: 300;
    margin: .5rem 0;
}

h2 {
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', 'Arial', 'Helvetica', sans-serif;
    font-size: 3.6rem;
    font-weight: 300;
}

h3 {
    border-top: .1rem solid #FFFFFF;
    color: #9857AD;
    font-family: 'Open Sans Condensed', 'Arial', 'Helvetica', sans-serif;
    font-size: 2.4rem;
    font-weight: 500;
    margin: 1rem 0;
    padding-top: 4rem;
}

p, li {
    font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

ul {
    margin-bottom: 3rem;
}

li {
    margin: 1rem 0;
}

a {
    color: #66D3C8;
    font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: none;
}

.portrait {
    float: right;
    max-width: 100%;
    height: auto;
}

.grey-background {
    background-color: #AFAFAF;
    height: 300rem;
    max-width: 100%;
    left: 0;
    top: 50;
}

.container {
    background: rgba(255, 255, 255, 0.6);
    display: grid;
    grid-template-columns: 1fr;
    margin: 42rem 0 2rem 0;
    max-width: 100%;
    overflow-y: scroll;
    padding: 2rem;
    position: absolute;
    top: 0;
    z-index: 5;
}

p.last {
    padding-bottom: 2rem;
}

footer {
    padding-top: 2rem;
}

@media only screen and (min-width: 360px) {

  .grey-background {
      background-color: #AFAFAF;
      height: 280rem;
  }

@media only screen and (min-width: 400px) {

  .grey-background {
      background-color: #AFAFAF;
      height: 255rem;
  }

  .container {
      margin: 46rem 0 2rem 0;
  }

}

@media only screen and (min-width: 450px) {

  .grey-background {
      background-color: #AFAFAF;
      height: 250rem;
  }

  .container {
      margin: 52rem 0 2rem 0;
  }

}

@media only screen and (min-width: 500px) {

  .grey-background {
      background-color: #AFAFAF;
      height: 235rem;
  }

  .container {
      margin: 55rem 0 2rem 0;
  }

}

@media only screen and (min-width: 550px) {

  .grey-background {
      background-color: #AFAFAF;
      height: 230rem;
  }

  .container {
      margin: 62rem 0 2rem 0;
  }

}

@media only screen and (min-width: 600px) {

  .grey-background {
      background-color: #AFAFAF;
      height: 225rem;
  }

  .container {
      margin: 68rem 0 2rem 0;
  }

}

@media only screen and (min-width: 650px) {

  .grey-background {
      background-color: #AFAFAF;
      height: 218rem;
  }

  .container {
      margin: 72rem 0 2rem 0;
  }

}

@media only screen and (min-width: 700px) {

  .grey-background {
      background-color: #AFAFAF;
      height: 220rem;
  }

  .container {
      margin: 78rem 0 2rem 0;
  }

}

@media only screen and (min-width: 750px) {

  .grey-background {
      background-color: #AFAFAF;
      height: 218rem;
  }

  .container {
      margin: 82rem 0 2rem 0;
  }

}

@media only screen and (min-width: 800px) {

  h1 {
      font-size: 6.4rem;
      margin: .5rem 0;
  }

  p {
      font-size: 1.8rem;
  }

  .portrait {
      float: right;
      max-width: 64rem;
      height: auto;
  }

  .grey-background {
      background-color: #AFAFAF;
      height: 72.5rem;
      left: 0;
      top: 50;
      width: 100%;
  }

  .container {
      background: rgba(255, 255, 255, 0.6);
      height: 54rem;
      margin: 17rem 2rem 2rem 10rem;
      max-width: 57rem;
      overflow-y: scroll;
      padding: 2rem 3rem;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 5;
  }

}


@media only screen and (min-width: 925px) {

  .container {
      margin: 17rem 2rem 2rem 14rem;
  }

}
