html {
    height: 100%;
    font-size: 10px;
}

h1 {
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', 'Arial', 'Helvetica', sans-serif;
    font-size: 5.6rem;
    font-weight: 700;
    margin: .5rem 0;
}

h2 {
    font-family: 'Open Sans Condensed', 'Arial', 'Helvetica', sans-serif;
    font-size: 3rem;
    font-weight: 300;
}

h3 {
    font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
    margin: 1rem 0;
}

p {
    font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
}

.landing {
    margin: 0;
}

.container {
    display: grid;
    grid-row-gap: 2rem;
    grid-template-columns: 1rem 1fr 1rem;
    grid-template-rows: auto 32rem auto 32rem auto;
    position: relative;
    width: 100%;
    z-index: 5;
}

.hero-background {
    background-color: #9857AD;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.hero-content {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-image: url("../images/golden-ratio-vert.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: #FFFFFF;
    padding: 30% 1rem 20% 1rem;
}

.intro h1 {
    margin: 0;
    max-width: 60%;
}

.intro h3 {
    margin: 0;
    max-width: 90%;
}

.intro p {
    margin-top: 5rem;
    max-width: 90%;
}

.project-1 {
    display: block;
    background-image: url("../images/nomadic-noms-case-study.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 0;

}

.noms-specs {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    align-self: center;
    justify-self: center;
    margin: 0;
    max-width: 60rem;
    height: auto;
    padding: 0 2rem 5rem 2rem;
    text-align: center;
}

a.noms-specs, a.brio-specs {
    color: #2E2E2E;
    text-decoration: none;
}

a.brio-specs h2, a.noms-specs h2 {
    margin: 0;
}


.project-2 {
    background-image: url("../images/brio-case-study.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    margin: 0;

}

.brio-specs {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    align-self: center;
    justify-self: center;
    margin: 0;
    max-width: 60rem;
    height: auto;
    padding: 0 2rem 5rem 2rem;
    text-align: center;
}

@media only screen and (min-width: 400px) {

  .hero-content {
      background-image: url("../images/golden-ratio-vert.png");
      background-position: left top;
      background-size: 100% auto;
  }

}


@media only screen and (min-width: 600px) {

  .container {
      grid-row-gap: 5rem;
      grid-template-columns: 3rem 1fr 1fr 3rem;
      grid-template-rows: auto 32rem 32rem auto;
  }

  .hero-background {
      grid-column: 1 / 5;
  }

  .hero-content {
      grid-column: 2 / 4;
      grid-row: 1 / 2;
  }

  .project-1 {
      background-image: url("../images/nomadic-noms-case-study.png");
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: contain;
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      margin: 0;
      max-width: 100%;
  }

  .noms-specs {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
      align-self: center;
      justify-self: center;
      padding: 0 2rem;
  }

  .project-2 {
      background-image: url("../images/brio-case-study.png");
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: contain;
      grid-column: 3 / 4;
      grid-row: 3 / 4;
      margin: 0;
      max-width: 100%;
  }

  .brio-specs {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
      align-self: center;
      justify-self: center;
      padding: 0 2rem;
  }

}


@media only screen and (min-width: 800px) {

  .intro h1 {
      font-size: 6.4rem;
      max-width: 100%;
  }

  .intro h3 {
      font-size: 3.6rem;
  }

  .intro p {
      font-size: 2.4rem;
      max-width: 60%;
  }

  .container {
      grid-template-columns: 5rem 1fr 1fr 5rem;
      grid-template-rows: auto 32rem;
  }

  .hero-content {
      grid-column: 2 / 4;
      grid-row: 1 / 2;
      padding: 10% 10%;
  }

  .intro {
      max-width: 85rem;
  }

  .project-1 {
      background-image: url("../images/nomadic-noms-case-study.png");
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: contain;
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      margin: 0;
      max-width: 100%;
  }

  .noms-specs {
      background-color: #FFE2B6;
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      align-self: center;
      justify-self: center;
      margin: 0;
      max-width: 32rem;
      height: auto;
      opacity: 0;
      padding: 10rem 2.6rem;
      text-align: center;
  }

  .noms-specs:hover {
      opacity: 1;
      -webkit-transition: .5s ease;
      -moz-transition: .5s ease;
      -o-transition: .5s ease;
      transition: .5s ease;
  }

  .project-2 {
      background-image: url("../images/brio-case-study.png");
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: contain;
      grid-column: 3 / 4;
      grid-row: 2 / 3;
      margin: 0;
      max-width: 100%;
  }

  .brio-specs {
      background-color: #D594EA;
      grid-column: 3 / 4;
      grid-row: 2 / 3;
      align-self: center;
      justify-self: center;
      margin: 0;
      max-width: 32rem;
      height: auto;
      opacity: 0;
      padding: 10rem 2.5rem;
      text-align: center;
  }

  .brio-specs:hover {
      opacity: 1;
      -webkit-transition: .5s ease;
      -moz-transition: .5s ease;
      -o-transition: .5s ease;
      transition: .5s ease;
  }

  .noms-specs p, .brio-specs p {
      max-width: 29.8rem
  }

}

@media only screen and (min-width: 1000px) {

  .container {
      grid-template-columns: 7rem 1fr 1fr 7rem;
  }

}


@media only screen and (min-width: 1100px) {

  .container {
      grid-template-columns: 10rem 1fr 1fr 10rem;
      grid-template-rows: auto 35rem;
  }

  .hero-content {
      justify-self: center;
      max-width: 88.5rem;
      padding: 10% 3% 10% 7%;
  }

  .noms-specs {
      padding: 11.5rem 4.2rem;
  }

  .brio-specs {
      padding: 11.5rem 4.1rem;
  }

}

@media only screen and (min-width: 1200px) {

  .hero-content {

  }

}
