html {
    height: 100%;
    font-size: 10px;
}

body {
    margin: 0;
}

h1 {
    color: #757575;
    font-family: 'Open Sans Condensed', 'Arial', 'Helvetica', sans-serif;
    font-size: 6.4rem;
    font-weight: 300;
    margin: .5rem 0;
}

h2 {
    color: #757575;
    font-family: 'Open Sans Condensed', 'Arial', 'Helvetica', sans-serif;
    font-size: 3.6rem;
    font-weight: 300;
    margin: 1rem 0;
}

h3 {
    color: #757575;
    font-family: 'Open Sans Condensed', 'Arial', 'Helvetica', sans-serif;
    font-size: 2.4rem;
    font-weight: 300;
    margin: 1rem 0;
    padding-top: 2rem;
}

h4 {
    color: #757575;
    font-family: 'Open Sans Condensed', 'Arial', 'Helvetica', sans-serif;
    font-size: 2.4rem;
    font-weight: 300;
}

p, li {
    color: #2E2E2E;
    font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    max-width: 75rem;
}

a {
    color: #66D3C8;
    font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: none;
}

.bold-text {
    font-weight: 700;
}

.italic-text {
    font-style: italic;
}

.container {
    display: grid;
    grid-template-columns: 1rem repeat(6, 2fr) 1rem;
    position: relative;
    width: 100%;
}

.hero-background {
    background-color: #9857AD;
    grid-column: 1 / 9;
    grid-row: 1 / 2;
}

.illustration-hero {
    grid-column: 1 / 9;
    grid-row: 1 / 2;
    align-self: start;
    justify-self: center;
    max-width: 100%;
    height: auto;
    padding: 1rem 0;
    text-align: center;
}

.hero-content {
    grid-column: 2 / 8;
    grid-row: 1 / 2;
    align-self: center;
    justify-self: center;
    text-align: center;
    padding: 6rem 1rem 9rem 1rem;
}

.hero-content h1 {
    color: #FFFFFF;
}

.hero-content p {
    color: #FFFFFF;
    max-width: 70rem;
    padding-bottom: 3rem;
}

.prototype {
    background-color: #66D3C8;
    border: .3rem solid #66D3C8;
    border-radius: 1.8rem;
    color: #FFFFFF;
    margin: 3rem;
    padding: .8rem 1rem;
}

.specs-column-left {
    grid-column: 2 / 8;
    grid-row: 2 / 3;
    padding: 6rem .6rem 0 .6rem;
}

.specs-column-mid {
    grid-column: 2 / 8;
    grid-row: 3 / 4;
    padding: 0 .6rem;
}

.specs-column-right {
    grid-column: 2 / 8;
    grid-row: 4 / 5;
    padding: 0 .6rem 5rem .6rem;
}

.specs-column-left, .specs-column-mid, .specs-column-right {
    align-self: center;
    justify-self: center;
    text-align: center;
}

.specs-column-left h4, .specs-column-mid h4, .specs-column-right h4 {
    margin-bottom: 1.5rem;
}

.specs-column-left p, .specs-column-mid p, .specs-column-right p {
    margin: 1rem 0;
}

.problem {
    grid-column: 2 / 8;
    grid-row: 5 / 6;
    align-self: center;
    justify-self: center;
    padding: 5rem .6rem;
}

.illustration-pizza {
    max-width: 7.2rem;
    height: auto;
    padding: 1rem 0 0 1rem;
}

.problem h2, .solution h2 {
    display: inline-block;
    margin: 1rem 0;
}

.solution {
    grid-column: 2 / 8;
    grid-row: 6 / 7;
    align-self: center;
    justify-self: left;
    padding: 0 .6rem 5rem .6rem;
}

.illustration-truck {
    max-width: 7.5rem;
    height: auto;
    padding: 1rem 0 0 1rem;
}

.survey-background {
    background-color: #F9F9F9;
    grid-column: 1 / 9;
    grid-row: 7 / 17;
}

.user-surveys {
    grid-column: 2 / 8;
    grid-row: 7 / 8;
    align-self: center;
    justify-self: center;
    padding: 5rem .6rem;
}

.user-surveys h2{
    margin: 1rem 0;
}

.illustration-clipboard {
    max-width: 7.2rem;
    height: auto;
    padding: 3rem 2rem 3rem 1rem;
}

.survey-topics {
    display: inline-block;
    padding: 0 1rem;
}

.survey-topics h4 {
    margin: 2rem 0;
}

.survey-topics li {
    margin: 1rem 0;
}

.discoveries {
    border: .3rem solid #9857AD;
    grid-column: 2 / 8;
    grid-row: 8 / 9;
    align-self: center;
    justify-self: center;
    margin-bottom: 7rem;
    padding: 4rem .6rem 7rem .6rem;
    text-align: center;
}

.discoveries h3 {
    font-weight: 700;
    padding-top: 0;
}

.discoveries-list {
    grid-column: 2 / 8;
    grid-row: 14 / 15;
    align-self: center;
    justify-self: center;
    padding: 0 1.6rem 2.5rem 3rem;
    text-align: left;
}

.discoveries-list li {
    margin: 2rem 0;
}

.surveys-lesson {
    grid-column: 2 / 8;
    grid-row: 15 / 16;
    align-self: center;
    justify-self: center;
    padding: 2rem 1.6rem;
}

.full-surveys {
    border: .3rem solid #66D3C8;
    border-radius: 1.8rem;
    margin: 3rem;
    padding: .8rem 1.5rem;
}

.personas {
    grid-column: 2 / 8;
    grid-row: 17 / 18;
    align-self: center;
    justify-self: center;
    padding: 5rem .6rem 2.5rem .6rem;
}

.personas h2 {
    margin: 0 0 1rem 0;
}

.persona-left {
    grid-column: 2 / 8;
    grid-row: 18 / 19;
    align-self: center;
    justify-self: center;
    max-width: 38rem;
    padding: 2rem .6rem;
    text-align: center;
}

.persona-mid {
    grid-column: 2 / 8;
    grid-row: 19 / 20;
    align-self: center;
    justify-self: center;
    max-width: 38rem;
    padding: 5rem .6rem 2rem .6rem;
    text-align: center;
}

.persona-right {
    grid-column: 2 / 8;
    grid-row: 20 / 21;
    align-self: center;
    justify-self: center;
    max-width: 38rem;
    padding: 5rem .6rem 7rem .6rem;
    text-align: center;
}

.avatar {
    padding: 3rem 1.6rem 0 1.6rem;
}

.persona-left h3, .persona-mid h3, .persona-right h3 {
    margin-bottom: 1rem;
}

.persona-left p, .persona-mid p, .persona-right p {
    font-size: 1.6rem;
    margin: 1rem 0;
    text-align: left;
}

 p.description {
    text-align: center;
    padding-bottom: 1.6rem;
 }

 .label {
     color: #757575;
     font-family: 'Open Sans Condensed', 'Arial', 'Helvetica', sans-serif;
     font-size: 2.0rem;
     font-weight: 300;
 }

 .persona-left h4, .persona-mid h4, .persona-right h4 {
     margin-bottom: 1rem;
     text-align: left;
 }

 .persona-left ul, .persona-mid ul, .persona-right ul {
     margin-bottom: 1rem;
     text-align: left;
 }

 .persona-left li, .persona-mid li, .persona-right li {
     font-size: 1.6rem;
     margin-bottom: 1rem;
 }

 .competitors-background {
     background-color: #F9F9F9;
     grid-column: 1 / 9;
     grid-row: 21 / 27;
 }

.competitors {
    grid-column: 2 / 8;
    grid-row: 21 / 22;
    align-self: center;
    justify-self: center;
    padding: 5rem .6rem 2rem .6rem;
}

.competitor-1 {
    grid-column: 2 / 5;
    grid-row: 22 / 23;
    align-self: center;
    justify-self: center;
}

.competitor-2 {
    grid-column: 5 / 8;
    grid-row: 22 / 23;
    align-self: center;
    justify-self: center;
}

.competitor-3 {
    grid-column: 2 / 5;
    grid-row: 23 / 24;
    align-self: end;
    justify-self: center;
}

.competitor-4 {
    grid-column: 5 / 8;
    grid-row: 23 / 24;
    align-self: center;
    justify-self: center;
}

.competitor-1, .competitor-2, .competitor-3, .competitor-4 {
    padding: 1.5rem 1rem;
    text-align: center;
}

.competitor-logo {
    max-width: 7.5rem;
    height: auto;
}

.strengths {
    grid-column: 2 / 8;
    grid-row: 24 / 25;
    align-self: center;
    justify-self: center;
    max-width: 60rem;
    padding: 2rem .6rem;
}

.weaknesses {
    grid-column: 2 / 8;
    grid-row: 25 / 26;
    align-self: center;
    justify-self: center;
    max-width: 60rem;
    padding: 2rem .6rem;
}

.opportunities {
    grid-column: 2 / 8;
    grid-row: 26 / 27;
    align-self: center;
    justify-self: center;
    max-width: 60rem;
    padding: 2rem .6rem 7rem .6rem;
}

.strengths h4, .weaknesses h4, .opportunities h4 {
    margin: 1rem 0;
}

.strengths li, .weaknesses li, .opportunities li {
    margin-bottom: 1rem;
}

.branding {
    grid-column: 2 / 8;
    grid-row: 27 / 28;
    align-self: center;
    justify-self: center;
    padding-top: 5rem;
    text-align: center;
}

/*.brand-personality {
    grid-column: 2 / 8;
    grid-row: 28 / 29;
    align-self: center;
    justify-self: center;
    max-width: 100%;
    height: auto;
}

.word-associations {
    display: none;
    grid-column: 2 / 8;
    grid-row: 29 / 30;
    align-self: center;
    justify-self: center;
    max-width: 100%;
    height: auto;
}

.name-ideas {
    grid-column: 2 / 8;
    grid-row: 30 / 31;
    align-self: center;
    justify-self: center;
    max-width: 100%;
    height: auto;
}

.mind-map-trio {
    display: none;
}*/

.brand-goals {
    grid-column: 2 / 8;
    grid-row: 31 / 32;
    align-self: center;
    justify-self: center;
    padding: 3rem .6rem;
}

.brand-goals h3 {
    margin: 0;
    padding: 0;
}

.food-truck-mind-map {
    grid-column: 2 / 8;
    grid-row: 32 / 33;
    align-self: center;
    justify-self: center;
    max-width: 100%;
    height: auto;
}

.logo {
    grid-column: 2 / 8;
    grid-row: 33 / 34;
    align-self: center;
    justify-self: center;
    padding: 3rem .6rem;
}

.logo-sketches {
    grid-column: 2 / 8;
    grid-row: 34 / 35;
    align-self: center;
    justify-self: center;
    max-width: 100%;
    height: auto;
}

.name {
    grid-column: 2 / 8;
    grid-row: 35 / 36;
    align-self: center;
    justify-self: center;
    padding: 3rem .6rem;
}

.draft-logo-1 {
    grid-column: 2 / 8;
    grid-row: 36 / 37;
    align-self: center;
    justify-self: center;
    padding: 1rem 1.6rem;
}

.draft-logo-2 {
    grid-column: 2 / 8;
    grid-row: 37 / 38;
    align-self: center;
    justify-self: center;
    padding: 1rem 1.6rem;
}

.draft-logo-3 {
    grid-column: 2 / 8;
    grid-row: 38 / 39;
    align-self: center;
    justify-self: center;
    padding: 1rem 1.6rem;
}

.testing {
    grid-column: 2 / 8;
    grid-row: 39 / 40;
    align-self: center;
    justify-self: center;
    padding: 3rem .6rem;
}

.logo-final {
    grid-column: 2 / 8;
    grid-row: 40 / 41;
    align-self: center;
    justify-self: center;
    padding: 3rem 1.6rem;
}

.final-logo-1 {
    grid-column: 2 / 8;
    grid-row: 41 / 42;
    align-self: center;
    justify-self: center;
    padding: 2rem 1.6rem;
}

.final-logo-2 {
    grid-column: 2 / 8;
    grid-row: 42 / 43;
    align-self: center;
    justify-self: center;
    padding: 2rem 1.6rem;
}

.final-logo-3 {
    grid-column: 2 / 8;
    grid-row: 43 / 44;
    align-self: center;
    justify-self: center;
    padding: 2rem 1.6rem;
}

.final-logo-4 {
    grid-column: 2 / 8;
    grid-row: 44 / 45;
    align-self: center;
    justify-self: center;
    max-width: 100%;
    height: auto;
    padding: 2rem 0;
}

.final-logo-5 {
    grid-column: 2 / 8;
    grid-row: 45 / 46;
    align-self: center;
    justify-self: center;
    padding: 2rem 1.6rem;
}

.final-logo-6 {
    grid-column: 2 / 8;
    grid-row: 46 / 47;
    align-self: center;
    justify-self: center;
    padding: 2rem 1.6rem;
}

.type {
    grid-column: 2 / 8;
    grid-row: 47 / 48;
    align-self: center;
    justify-self: center;
    padding: 7.5rem .6rem;
}

.roboto-m, .roboto-r, .lowercase, .uppercase {
    text-align: center;
}

.roboto-m {
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-size: 2.0rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
  padding: 4rem 0 0 0;
}

.roboto-r {
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-size: 2.0rem;
  font-weight: 400;
  margin-top: 1.6rem;
  padding: 0 0 4rem 0;
}

.colors1 {
    grid-column: 2 / 8;
    grid-row: 48 / 49;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.color-primary {
    grid-column: 2 / 8;
    grid-row: 49 / 50;
    align-self: center;
    justify-self: center;
    padding-bottom: 3rem;
    text-align: center;
}

.color-secondary {
    grid-column: 2 / 8;
    grid-row: 50 / 51;
    align-self: center;
    justify-self: center;
    padding-bottom: 5rem;
    text-align: center;
}

.color-primary h4, .color-secondary h4 {
    margin: 1rem 0;
}

.color-primary .orange, .color-secondary .fuchsia {
    max-width: 27.5rem;
    padding: 1.6rem .6rem;
    text-align: left;
}

.colors2 {
    display: none;
}

.flows-background {
    background-color: #F9F9F9;
    grid-column: 1 / 9;
    grid-row: 51 / 53;

}

.user-stories {
    grid-column: 2 / 8;
    grid-row: 51 / 52;
    align-self: center;
    justify-self: center;
    padding: 5rem .6rem 2rem .6rem;
}

.user-stories .quote {
    padding-top: 3rem;
}

.user-stories li {
    margin-bottom: 1rem;
}

p.user-flows {
    padding-top: 3rem;
}

.flow-diagrams-link {
    border: .3rem solid #66D3C8;
    border-radius: 1.8rem;
    grid-column: 2 / 8;
    grid-row: 52 / 53;
    align-self: center;
    justify-self: center;
    margin: 3rem 3rem 7.5rem 3rem;
    padding: .8rem 1.5rem;
}

.slideshow-container {
    display: none;
}

.prev {
    display: none;
}

.next {
    display: none;
}

.dots-7 {
    display: none;
}

.wireframes {
    grid-column: 2 / 8;
    grid-row: 53 / 54;
    align-self: center;
    justify-self: center;
    padding: 5rem .6rem 3rem .6rem;
}

.wireframes .bold-text {
    padding-top: 3rem;
}

.wireframe-slideshow {
    grid-column: 2 / 8;
    grid-row: 54 / 55;
    align-self: center;
    justify-self: center;
    margin-bottom: 10rem;
    max-width: 100%;
    height: auto;
    padding: 5rem;
}

/* Hide the images by default */
.mySlides2 {
    display: none;
}

.wireframe-1, .wireframe-2, .wireframe-3, .wireframe-4,
  .wireframe-5, .wireframe-6, .wireframe-7, .wireframe-8,
  .wireframe-9, .wireframe-10, .wireframe-11, .wireframe-12,
  .wireframe-13  {
    max-width: 100%;
    height: auto;
}

/* Next & previous buttons */
.prev2, .next2 {
    cursor: pointer;
    width: auto;
    padding: 1.6rem;
    color: #2E2E2E;
    font-weight: bold;
    font-size: 2.4rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next2 {
    display: block;
    grid-column: 2 / 8;
    grid-row: 54 / 55;
    align-self: center;
    justify-self: right;
    max-width: 100%;
    height: auto;
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev2 {
    display: block;
    grid-column: 2 / 8;
    grid-row: 54 / 55;
    align-self: center;
    justify-self: left;
    max-width: 100%;
    height: auto;
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev2:hover, .next2:hover {
    background-color: rgba(0,0,0,0.8);
}

.dots-12 {
    display: block;
    grid-column: 2 / 8;
    grid-row: 54 / 55;
    align-self: end;
    justify-self: center;
    padding-bottom: 8rem;
    text-align: center;
}

/* The dots/bullets/indicators */
.dot2 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot2:hover {
    background-color: #717171;
}

/* Fading animation */
.fade2 {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.mockups-background {
    background-color: #F9F9F9;
    grid-column: 1 / 9;
    grid-row: 55 / 71;
}

.mockups {
    grid-column: 2 / 8;
    grid-row: 55 / 56;
    align-self: center;
    justify-self: center;
    padding: 7rem .6rem 3rem .6rem;
}

.first-mockups {
    grid-column: 2 / 8;
    grid-row: 56 / 57;
    align-self: center;
    justify-self: center;
    padding-top: 0;
}

.draft-mockups {
    grid-column: 2 / 8;
    grid-row: 57 / 63;
    align-self: center;
    justify-self: center;
    max-width: 70rem;
    padding: 1rem 0;
    text-align: center;
}

.mockup-draft1, .mockup-draft2, .mockup-draft3, .mockup-draft4, .mockup-draft5 {
    max-width: 100%;
    height: auto;
    padding: .5rem;
}

.mockup-text {
    grid-column: 2 / 7;
    grid-row: 63 / 64;
    align-self: center;
    justify-self: center;
    padding: 1.6rem;
}

.arrow {
    grid-column: 7 / 8;
    grid-row: 63 / 64;
    align-self: center;
    justify-self: center;
    margin: 1.6rem 0;
}

.final-mockup {
    grid-column: 2 / 8;
    grid-row: 64 / 65;
    align-self: center;
    justify-self: center;
}

.final-mockups {
    grid-column: 2 / 8;
    grid-row: 65 / 71;
    align-self: center;
    justify-self: center;
    max-width: 70rem;
    padding: 1rem 0 7.5rem 0;
    text-align: center;
}

.mockup-final1, .mockup-final2, .mockup-final3, .mockup-final4, .mockup-final5 {
    max-width: 100%;
    height: auto;
    padding: .5rem;
}

.test-discover {
    grid-column: 2 / 8;
    grid-row: 71/ 72;
    align-self: center;
    justify-self: center;
    max-width: 12rem;
    height: auto;
    padding: 7.5rem 3rem 0 3rem;
}

.pref-tests {
    grid-column: 2 / 8;
    grid-row: 72 / 73;
    align-self: center;
    justify-self: center;
    padding: 1rem 1.6rem 3rem 1.6rem;
}

.test-1 {
    grid-column: 2 / 8;
    grid-row: 73 / 74;
    align-self: center;
    padding: 2rem .6rem;
}

.test-1 h3, .test-2 h3, .test-3 h3 {
    font-size: 3.6rem;
    margin-bottom: 0;
    padding: 0;
}

.test-1 h4, .test-2 h4, .test-3 h4 {
    margin: 0 0 1rem 0;
}

.test1-option-a {
    grid-column: 2 / 8;
    grid-row: 74 / 75;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.test1-option-b {
    grid-column: 2 / 8;
    grid-row: 75 / 76;
    align-self: center;
    justify-self: center;
    padding-top: 7.5rem;
    text-align: center;
}

.test-v1, .test-v2 {
    max-width: 100%;
    height: auto;
}

.test1-conclusion {
    grid-column: 2 / 8;
    grid-row: 76 / 77;
    align-self: center;
    justify-self: center;
    padding: 3rem .6rem 5rem .6rem;
}

.test1-conclusion li {
    font-style: italic;
    margin-bottom: 1rem;
}

.test2-background {
    background-color: #F9F9F9;
    grid-column: 1 / 9;
    grid-row: 77 / 81;
}

.test-2 {
    grid-column: 2 / 8;
    grid-row: 77 / 78;
    align-self: center;
    padding: 5rem .6rem 1.6rem .6rem;
}

.test2-option-a {
    grid-column: 2 / 8;
    grid-row: 78 / 79;
    align-self: center;
    justify-self: center;
    padding: 3rem 0;
    text-align: center;
}

.test2-option-a ul, .test2-option-b ul {
    padding: 0 1.6rem 0 3.2rem;
}

.test2-option-a li, .test2-option-b li {
    font-style: italic;
    margin-bottom: 1rem;
    text-align: left;
}

.test2-option-b {
    grid-column: 2 / 8;
    grid-row: 79 / 80;
    align-self: center;
    justify-self: center;
    padding: 5rem 0 3rem 0;
    text-align: center;
}

.test2-v1, .test2-v2 {
   max-width: 100%;
   height: auto;
}

.test2-conclusion {
    grid-column: 2 / 8;
    grid-row: 80 / 81;
    align-self: center;
    justify-self: center;
    padding: 3rem .6rem 5rem .6rem;
}

.test2-conclusion h4 {
    margin: 1rem 0;
    text-align: center;
}

.test-3 {
    grid-column: 2 / 8;
    grid-row: 81 / 82;
    align-self: center;
    padding: 5rem .6rem 0 .6rem;
}

.test3-option-a {
    grid-column: 2 / 8;
    grid-row: 82 / 83;
    align-self: center;
    justify-self: center;
    padding-bottom: 3rem;
    text-align: center;
}

.test3-option-b {
    grid-column: 2 / 8;
    grid-row: 83 / 84;
    align-self: center;
    justify-self: center;
    padding: 3rem 0 0 0;
    text-align: center;
}

.test3-v1, .test3-v2 {
    max-width: 100%;
    height: auto;
}

.test3-conclusion {
    grid-column: 2 / 8;
    grid-row: 84 / 85;
    align-self: center;
    justify-self: center;
    padding: 3rem .6rem;
}

.test3-lessons {
    grid-column: 2 / 8;
    grid-row: 85 / 86;
    align-self: center;
    justify-self: center;
    padding: 0 .6rem 5rem .6rem;
}

.test3-lessons h3 {
    padding: 0;
}

.prototype-background {
    background-color: #F9F9F9;
    grid-column: 1 / 9;
    grid-row: 86 / 88;
}

.prototype-text {
    grid-column: 2 / 8;
    grid-row: 86 / 87;
    align-self: center;
    justify-self: center;
    padding: 5rem .6rem 2rem .6rem;
}

.prototype-end {
    background-color: #66D3C8;
    border: .3rem solid #66D3C8;
    border-radius: 1.8rem;
    color: #FFFFFF;
    grid-column: 2 / 8;
    grid-row: 87 / 88;
    align-self: center;
    justify-self: center;
    margin: 1rem 3rem 7.5rem 3rem;
    padding: .8rem 1.5rem;
}

.conclusion-background {
    background-color: #9857AD;
    grid-column: 1 / 9;
    grid-row: 88 / 89;
}

.conclusion {
    grid-column: 2 / 8;
    grid-row: 88 / 89;
    align-self: center;
    justify-self: center;
    padding: 5rem .6rem 7.5rem .6rem;
}

.conclusion h2, .conclusion p {
    color: #FFFFFF;
}

.previous-mobile {
    grid-column: 2 / 3;
    grid-row: 89 / 90;
    align-self: center;
    justify-self: left;
    padding-left: 1.6rem;
}

.previous-desktop {
    display: none;
}

.link-to-top {
    grid-column: 2 / 8;
    grid-row: 89 / 90;
    align-self: center;
    justify-self: center;
    margin: 5rem 3rem;
    padding: .8rem 1.5rem;
}

.next-mobile {
    grid-column: 7 / 8;
    grid-row: 89 / 90;
    align-self: center;
    justify-self: right;
    padding-right: 1.6rem;
}

.previous-mobile i, .next-mobile i {
    color: #66D3C8;
    font-size: 2.4rem;
}

.next-desktop {
    display: none;
}


@media only screen and (min-width: 360px) {

  a {
      font-size: 1.6rem;
  }

  .prototype {
      padding: .8rem 1.5rem;
  }

}

@media only screen and (min-width: 400px) {

  .hero-content {
      padding: 6rem 1rem 10rem 1rem;
  }

  .hero-content p {
      padding-bottom: 5rem;
  }

}


@media only screen and (min-width: 475px) {

  .surveys-right {
      padding-left: 10%;
      padding-top: 2rem;
  }

  .test1-option-a {
      grid-column: 2 / 5;
      grid-row: 74 / 75;
      align-self: center;
      justify-self: center;
      padding: 1rem;
      text-align: center;
  }

  .test1-option-b {
      grid-column: 5 / 8;
      grid-row: 74 / 75;
      align-self: center;
      justify-self: center;
      padding: 1rem;
      text-align: center;
  }

  .test1-conclusion {
      padding: 5rem .6rem 7rem .6rem;
  }

  .test2-conclusion {
      padding: 3rem .6rem 7rem .6rem;
  }

}


@media only screen and (min-width: 550px) {

  h4 {
      font-size: 2.8rem;
  }

  .specs-column-left {
      grid-column: 2 / 4;
      grid-row: 3 / 4;
  }

  .specs-column-mid {
      border-left: .1rem solid #979797;
      border-right: .1rem solid #979797;
      grid-column: 4 / 6;
      grid-row: 3 / 4;
  }

  .specs-column-right {
      grid-column: 6 / 8;
      grid-row: 3 / 4;
  }

  .specs-column-left, .specs-column-mid, .specs-column-right {
      align-self: start;
      justify-self: center;
      margin-top: 10rem;
      max-width: 100%;
      padding: 3rem 4rem 5rem 4rem;
  }

  .specs-column-left h4, .specs-column-mid h4, .specs-column-right h4 {
      margin-bottom: 3rem;
  }

  .specs-column-left p, .specs-column-mid p, .specs-column-right p {
      margin: 1.5rem 0;
  }

  .color-primary {
      grid-column: 2 / 5;
      align-self: start;
      justify-self: center;
      padding: 3rem 1rem;
  }

  .color-secondary {
      grid-column: 5 / 8;
      grid-row: 49 / 50;
      align-self: start;
      justify-self: center;
      padding: 3rem 1rem;
  }

}

@media only screen and (min-width: 625px) {

  h2 {
      font-size: 4.8rem;
  }

  .final-logo-1 {
      grid-column: 2 / 5;
      grid-row: 41 / 42;
      align-self: center;
      justify-self: center;
      padding: 2rem 1rem;
  }

  .final-logo-2 {
      grid-column: 5 / 8;
      grid-row: 41 / 42;
      align-self: center;
      justify-self: center;
      padding: 2rem 1rem;
  }

  .final-logo-3 {
      grid-column: 2 / 5;
      grid-row: 42 / 43;
      align-self: center;
      justify-self: center;
      padding: 2rem 1rem;
  }

  .final-logo-4 {
      grid-column: 5 / 8;
      grid-row: 42 / 43;
      align-self: center;
      justify-self: center;
      max-width: 100%;
      height: auto;
      padding: 2rem 0;
  }

  .final-logo-5 {
      grid-column: 2 / 5;
      grid-row: 43 / 44;
      align-self: center;
      justify-self: center;
      padding: 2rem 1rem;
  }

  .final-logo-6 {
      grid-column: 5 / 8;
      grid-row: 43 / 44;
      align-self: center;
      justify-self: center;
      padding: 2rem 1rem;
  }

}

@media only screen and (min-width: 675px) {

  h3 {
      font-size: 3.6rem;
  }

  p, li {
      font-size: 2rem;
  }

  .container {
      grid-template-columns: 3rem repeat(6, 2fr) 3rem;
  }

  .illustration-hero {
      padding: 6rem 1rem 4rem 1rem;
  }

  .hero-content {
      padding: 12rem 1rem 14rem 1rem;
  }

  .hero-content p {
      font-size: 2.4rem;
  }

  .specs-column-left p, .specs-column-mid p, .specs-column-right p {
      font-size: 1.8rem;
  }

  .specs-column-mid {
      padding: 3rem 6rem 5rem 6rem;
  }

  .problem {
      grid-column: 2 / 8;
      grid-row: 6 / 7;
      align-self: center;
      justify-self: center;
      margin-bottom: 2rem;
      padding: 10rem 1.6rem 0 1.6rem;
  }

  .solution {
      grid-column: 2 / 8;
      grid-row: 7 / 8;
      align-self: center;
      justify-self: center;
      margin-bottom: 2rem;
      padding: 5rem 1.6rem;
  }

  .survey-background {
      grid-column: 1 / 9;
      grid-row: 10 / 17;
  }

  .user-surveys {
      grid-row: 10 / 11;
      align-self: center;
      justify-self: center;
      padding: 10rem 1.6rem 7.5rem 1.6rem;
  }

  .illustration-clipboard {
      max-width: 12.5rem;
      height: auto;
  }

  .surveys-right {
      padding-left: 10%;
  }

  .survey-topics {
      grid-column: 5 / 8;
      grid-row: 11 / 13;
      align-self: center;
      justify-self: center;
  }

  .survey-topics li {
      margin: 2rem 0;
  }

  .discoveries {
      grid-column: 2 / 8;
      grid-row: 13 / 14;
      align-self: center;
      justify-self: center;
      padding-bottom: 9rem;
  }

  .discoveries-list {
      padding: 0 3rem 2rem 7.5rem;
  }

  .discoveries-list li {
      margin: 3rem 0;
  }

  .competitors a {
      font-size: 1.8rem;
  }

  .strengths {
      grid-column: 2 / 5;
      grid-row: 24 / 25;
      align-self: start;
      justify-self: center;
      max-width: 60rem;
      padding: 2rem 2rem 5rem .6rem;
  }

  .weaknesses {
      border-left: .1rem solid #979797;
      grid-column: 5 / 8;
      grid-row: 24 / 25;
      align-self: start;
      justify-self: center;
      max-width: 60rem;
      padding: 2rem .6rem 5rem 2rem;
  }

  .opportunities {
      grid-column: 2 / 8;
      grid-row: 26 / 27;
      align-self: center;
      justify-self: center;
      max-width: 60rem;
      padding: 2rem .6rem 7.5rem .6rem;
  }

  .strengths li, .weaknesses li, .opportunities li {
      font-size: 1.6rem;
  }

  .persona-right {
      padding-bottom: 7.5rem;
  }

}


@media only screen and (min-width: 700px) {

  .test-3 {
      padding: 7.5rem 1.6rem 3rem 1.6rem;
  }

}


@media only screen and (min-width: 800px) {

  .surveys-lesson {
      padding-bottom: 5rem;
  }

}


@media only screen and (min-width: 900px) {

  .container {
      grid-template-columns: 5rem repeat(6, 2fr) 5rem;
  }

  .surveys-left {
      float: left;
      max-width: 50%;
  }

  .surveys-right {
      float: right;
      max-width: 50%;
      padding-left: 0;
      padding-right: 10%;
      text-align: center;
  }

  .illustration-clipboard {
      padding-bottom: 0;
  }

  .survey-topics {
      display: block;
  }

  .discoveries-list {
      padding: 0 5rem 3rem 12.5rem;
  }

  .discoveries {
      margin-bottom: 10rem;
  }

  .personas {
      padding: 7rem 1.6rem 5rem 1.6rem;
  }

  .persona-left {
      grid-column: 2 / 4;
      grid-row: 18 / 19;
      align-self: start;
      justify-self: center;
      margin-bottom: 5rem;
      padding: 1.6rem 2rem;
      text-align: center;
  }

  .persona-mid {
      border-left: .1rem solid #979797;
      border-right: .1rem solid #979797;
      grid-column: 4 / 6;
      grid-row: 18 / 19;
      align-self: start;
      justify-self: center;
      padding: 1.6rem 2rem 15rem 2rem;
      text-align: center;
  }

  .persona-right {
      grid-column: 6 / 8;
      grid-row: 18 / 19;
      align-self: start;
      justify-self: center;
      padding: 1.6rem 2rem 6.5rem 2rem;
      margin-bottom: 10rem;
      text-align: center;
  }

  .competitors-background {
      grid-row: 19 / 22;
  }

  .competitors {
      grid-column: 2 / 8;
      grid-row: 19 / 20;
      align-self: center;
      justify-self: center;
      padding: 8rem 1.6rem 5rem 1.6rem;
  }

  .competitor-1 {
      grid-column: 2 / 4;
      grid-row: 20 / 21;
      align-self: center;
      justify-self: center;
  }

  .competitor-2 {
      grid-column: 4 / 5;
      grid-row: 20 / 21;
      align-self: center;
      justify-self: left;
  }

  .competitor-3 {
      grid-column: 5 / 6;
      grid-row: 20 / 21;
      align-self: end;
      justify-self: right;
  }

  .competitor-4 {
      grid-column: 6 / 8;
      grid-row: 20 / 21;
      align-self: center;
      justify-self: center;
  }

  .competitor-1, .competitor-2, .competitor-3, .competitor-4 {
      padding: 1.5rem 1rem;
      text-align: center;
  }

  .competitor-logo {
      max-width: 10rem;
      height: auto;
  }

  .strengths {
      grid-column: 2 / 4;
      grid-row: 21 / 22;
      align-self: start;
      justify-self: center;
      margin-bottom: 7.5rem;
      padding: 5rem 1.6rem;
  }

  .weaknesses {
      border-left: .1rem solid #979797;
      border-right: .1rem solid #979797;
      grid-column: 4 / 6;
      grid-row: 21 / 22;
      align-self: start;
      justify-self: center;
      margin-bottom: 5rem;
      margin-top: 3rem;
      padding: 2rem 1.6rem 7.5rem 1.6rem;
  }

  .opportunities {
      grid-column: 6 / 8;
      grid-row: 21 / 22;
      align-self: start;
      justify-self: center;
      margin-bottom: 5rem;
      padding: 5rem 1.6rem;
  }

  .strengths li, .weaknesses li, .opportunities li {
      margin-bottom: 1rem;
  }

  .branding {
      grid-column: 2 / 8;
      grid-row: 22 / 23;
      align-self: center;
      justify-self: center;
      padding-top: 7.5rem;
      text-align: center;
  }

  /*.brand-personality {
      display: none;
  }

  .word-associations {
      display: none;
  }

  .name-ideas {
      display: none;
  }

  .mind-map-trio {
      display: block;
      grid-column: 1 / 9;
      grid-row: 23 / 24;
      align-self: center;
      justify-self: center;
      max-width: 100%;
      height: auto;
  }*/

  .brand-goals {
      grid-column: 2 / 5;
      grid-row: 24 / 25;
      align-self: center;
      justify-self: center;
      padding: 3rem 1.6rem;
  }

  .food-truck-mind-map {
      grid-column: 5 / 8;
      grid-row: 24 / 25;
      align-self: center;
      justify-self: center;
      max-width: 100%;
      height: auto;
      padding: 7.5rem 0;
  }

  .logo {
      grid-column: 2 / 8;
      grid-row: 25 / 26;
      align-self: center;
      justify-self: center;
      max-width: 66rem;
      padding: 3rem 1.6rem;
  }

  .logo-sketches {
      grid-column: 2 / 8;
      grid-row: 26 / 27;
      align-self: center;
      justify-self: center;
      max-width: 100%;
      height: auto;
      padding-bottom: 5rem;
  }

  .draft-logo-1 {
      grid-column: 2 / 5;
      grid-row: 27 / 29;
      align-self: center;
      justify-self: center;
      padding: 1rem 1.6rem;
  }

  .draft-logo-2 {
      grid-column: 2 / 5;
      grid-row: 29 / 31;
      align-self: center;
      justify-self: center;
      padding: 1rem 1.6rem;
  }

  .draft-logo-3 {
      grid-column: 2 / 5;
      grid-row: 31 / 33;
      align-self: center;
      justify-self: center;
      padding: 1rem 1.6rem;
  }

  .name {
      grid-column: 5 / 8;
      grid-row: 27 / 30;
      align-self: center;
      justify-self: center;
      padding: 3rem 1.6rem;
  }

  .testing {
      grid-column: 5 / 8;
      grid-row: 30 / 33;
      align-self: center;
      justify-self: center;
      padding: 3rem 1.6rem;
  }

  .name h3, .testing h3 {
      padding: 0;
  }

  .logo-final {
      grid-column: 2 / 8;
      grid-row: 33 / 34;
      align-self: center;
      justify-self: center;
      padding: 7.5rem 1.6rem 5rem 1.6rem;
  }

  .final-logo-1 {
      grid-column: 2 / 4;
      grid-row: 34 / 35;
      align-self: center;
      justify-self: center;
      padding: 3rem 1.6rem 5rem 1.6rem;
  }

  .final-logo-2 {
      grid-column: 4 / 6;
      grid-row: 34 / 35;
      align-self: center;
      justify-self: center;
      padding: 3rem 1.6rem 5rem 1.6rem;
  }

  .final-logo-3 {
      grid-column: 6 / 8;
      grid-row: 34 / 35;
      align-self: center;
      justify-self: center;
      padding: 3rem 1.6rem 5rem 1.6rem;
  }

  .final-logo-4 {
      grid-column: 2 / 4;
      grid-row: 35 / 36;
      align-self: center;
      justify-self: center;
      max-width: 100%;
      height: auto;
      padding: 5rem 1.6rem 3rem 1.6rem;
  }

  .final-logo-5 {
      grid-column: 4 / 6;
      grid-row: 35 / 36;
      align-self: center;
      justify-self: center;
      padding: 5rem 1.6rem 3rem 1.6rem;
  }

  .final-logo-6 {
      grid-column: 6 / 8;
      grid-row: 35 / 36;
      align-self: center;
      justify-self: center;
      padding: 5rem 1.6rem 3rem 1.6rem;
  }

  .type {
      border-right: .1rem solid #979797;
      grid-column: 2 / 5;
      grid-row: 36 / 38;
      align-self: center;
      justify-self: center;
      margin: 10rem 0 7rem 0;
      padding: 2.5rem 1.6rem 5rem 1.6rem;
  }

  .type h2 {
      text-align: left;
  }

  .roboto-m, .roboto-r, .lowercase, .uppercase {
      text-align: center;
  }

  .type-primary {
      padding-bottom: 2.5rem;
  }

  .roboto-m {
      font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
      font-size: 2.0rem;
      font-weight: 500;
      margin-bottom: 1.6rem;
      padding: 2.5rem 0 0 0;
  }

  .roboto-r {
      font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
      font-size: 2.0rem;
      font-weight: 400;
      margin-top: 1.6rem;
      padding: 0 0 4rem 0;
  }

  .colors1 {
      display: none;
  }

  .color-primary {
      grid-column: 5 / 6;
      grid-row: 36 / 37;
      align-self: end;
      justify-self: center;
      padding: 10rem 0 0 0;
      text-align: center;
  }

  .color-secondary {
      grid-column: 5 / 6;
      grid-row: 37 / 38;
      align-self: start;
      justify-self: center;
      padding-top: 3rem;
      text-align: center;
  }

  .color-primary .orange, .color-secondary .fuchsia {
      display: none;
  }

  .colors2 {
      display: block;
      grid-column: 6 / 8;
      grid-row: 36 / 38;
      align-self: center;
      justify-self: center;
      padding-top: 6rem;
      text-align: left;
  }

  .colors2 p {
      padding-bottom: 10rem;
  }

  .flows-background {
      grid-row: 38 / 40;

  }

  .user-stories {
      grid-column: 2 / 8;
      grid-row: 38 / 39;
      align-self: center;
      justify-self: center;
      padding: 10rem 1.6rem 7.5rem 1.6rem;
  }

  .user-stories .quote {
      padding: 5rem 3rem 1rem 3rem;
  }

  .user-stories ul {
      padding: 0 0 1rem 10rem;
  }

  .user-stories li {
      margin-bottom: 2rem;
  }

  p.user-flows {
      padding-top: 1rem;
  }

  .flow-diagrams-link {
      display: none;
  }

  .slideshow-container{
      background-color: #F9F9F9;
      display: block;
      grid-column: 2 / 8;
      grid-row: 39 / 40;
      align-self: center;
      justify-self: center;
      max-width: 100rem;
      padding: 2rem 7.5rem 18rem 7.5rem;
  }

  /* Hide the images by default */
  .mySlides {
      display: none;
  }

  .flow-diagram-1 {
      max-width: 35rem;
      height: auto;
  }

  .flow-diagram-2, .flow-diagram-3, .flow-diagram-4,
    .flow-diagram-5, .flow-diagram-6, .flow-diagram-7 {
      max-width: 100%;
      height: auto;
  }

  /* Next & previous buttons */
  .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 1.6rem;
      color: #2E2E2E;
      font-weight: bold;
      font-size: 2.4rem;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
  }

  /* Position the "next button" to the right */
  .next {
      display: block;
      grid-column: 2 / 8;
      grid-row: 39 / 40;
      align-self: center;
      justify-self: right;
      max-width: 100%;
      height: auto;
      right: 0;
      border-radius: 3px 0 0 3px;
  }

  .prev {
      display: block;
      grid-column: 2 / 8;
      grid-row: 39 / 40;
      align-self: center;
      justify-self: left;
      max-width: 100%;
      height: auto;
      left: 0;
      border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
  }

  .dots-7 {
      display: block;
      grid-column: 2 / 8;
      grid-row: 39 / 40;
      align-self: end;
      justify-self: center;
      padding-bottom: 8rem;
      text-align: center;
  }

  /* The dots/bullets/indicators */
  .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
      background-color: #717171;
  }

  /* Fading animation */
  .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
  }

  @keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
  }

  .wireframes {
      grid-column: 2 / 5;
      grid-row: 40 / 41;
      align-self: center;
      justify-self: center;
      padding: 7rem 1.6rem 10rem 1.6rem;
  }

  .wireframes h2 {
      text-align: left;
  }

  .wireframes .bold-text {
      padding-top: 5rem;
  }

  .wireframes li {
      padding-top: 2rem;
  }

  .wireframe-slideshow {
      display: block;
      grid-column: 5 / 8;
      grid-row: 40 / 41;
      align-self: center;
      justify-self: center;
      margin-bottom: 0;
      max-width: 100%;
      height: auto;
      padding: 16rem 0;
  }

  /* Hide the images by default */
  .mySlides2 {
      display: none;
  }

  .wireframe-1, .wireframe-2, .wireframe-3, .wireframe-4,
    .wireframe-5, .wireframe-6, .wireframe-7, .wireframe-8,
    .wireframe-9, .wireframe-10, .wireframe-11, .wireframe-12,
    .wireframe-13  {
      max-width: 100%;
      height: auto;
  }

  /* Next & previous buttons */
  .prev2, .next2 {
      cursor: pointer;
      width: auto;
      margin-top: 70px;
      padding: 1.6rem;
      color: #2E2E2E;
      font-weight: bold;
      font-size: 2.4rem;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
  }

  /* Position the "next button" to the right */
  .next2 {
      display: block;
      grid-column: 5 / 8;
      grid-row: 40 / 41;
      align-self: center;
      justify-self: right;
      max-width: 100%;
      height: auto;
      right: 0;
      border-radius: 3px 0 0 3px;
  }

  .prev2 {
      display: block;
      grid-column: 5 / 8;
      grid-row: 40 / 41;
      align-self: center;
      justify-self: left;
      max-width: 100%;
      height: auto;
      left: 0;
      border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev2:hover, .next2:hover {
      background-color: rgba(0,0,0,0.8);
  }

  .dots-12 {
      display: block;
      grid-column: 5 / 8;
      grid-row: 40 / 41;
      align-self: end;
      justify-self: center;
      text-align: center;
  }

  /* The dots/bullets/indicators */
  .dot2 {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
  }

  .active, .dot2:hover {
      background-color: #717171;
  }

  /* Fading animation */
  .fade2 {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
  }

  @keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
  }

  .mockups-background {
      grid-column: 1 / 9;
      grid-row: 41 / 47;
  }


  .mockups {
      grid-column: 2 / 8;
      grid-row: 41 / 42;
      align-self: center;
      justify-self: center;
      padding: 7.5rem 1.6rem 5rem 1.6rem;
  }

  .first-mockups {
      grid-column: 2 / 8;
      grid-row: 42 / 43;
      align-self: center;
      justify-self: left;
      padding-left: 1.6rem;
  }

  .draft-mockups {
      grid-column: 2 / 8;
      grid-row: 43 / 44;
      align-self: center;
      justify-self: center;
      text-align: center;
  }

  .mockup-draft1, .mockup-draft2, .mockup-draft3, .mockup-draft4, .mockup-draft5 {
      padding: 0;
  }

  .mockup-text {
      grid-column: 3 / 6;
      grid-row: 44 / 45;
      align-self: center;
      justify-self: center;
      padding: 1.6rem;
  }

  .arrow {
      grid-column: 6 / 7;
      grid-row: 44 / 45;
      align-self: center;
      justify-self: center;
      margin: 1.6rem 0;
  }

  .final-mockup {
      grid-column: 2 / 8;
      grid-row: 45 / 46;
      align-self: center;
      justify-self: left;
      padding-left: 1.6rem;
      padding-top: 0;
  }

  .final-mockups {
      grid-column: 2 / 8;
      grid-row: 46 / 47;
      align-self: center;
      justify-self: center;
      text-align: center;
  }

  .mockup-final1, .mockup-final2, .mockup-final3, .mockup-final4, .mockup-final5 {
      padding: 0;
  }

  .test-discover {
      grid-column: 2 / 5;
      grid-row: 47 / 48;
      align-self: center;
      justify-self: center;
      max-width: 15rem;
      height: auto;
      padding: 5rem 1rem 1rem 1rem;
  }

  .pref-tests {
      grid-column: 5 / 8;
      grid-row: 47 / 48;
      align-self: center;
      justify-self: left;
      padding: 5rem 1.6rem;
  }

  .pref-tests li {
      margin-bottom: 2rem;
  }

  .test-1 {
      grid-column: 2 / 8;
      grid-row: 48 / 49;
      align-self: center;
      padding: 1.6rem;
  }

  .test1-conclusion {
      grid-column: 2 / 5;
      grid-row: 49 / 50;
      align-self: center;
      justify-self: center;
      padding: 3rem 1.6rem;
  }

  .test1-conclusion li {
      font-style: italic;
      margin-bottom: 1rem;
  }

  .test1-option-a {
      grid-column: 5 / 8;
      grid-row: 49 / 50;
      align-self: center;
      justify-self: left;
      padding: 1rem 1rem 9rem 0;
      max-width: 49%;
      text-align: center;
  }

  .test1-option-b {
      grid-column: 5 / 8;
      grid-row: 49 / 50;
      align-self: center;
      justify-self: right;
      padding: 1rem 0 9rem 1rem;
      max-width: 49%;
      text-align: center;
  }

  .test2-background {
      grid-row: 50 / 53;
  }

  .test-2 {
      grid-column: 2 / 8;
      grid-row: 50 / 51;
      align-self: center;
      padding: 7.5rem 1.6rem 1.6rem 1.6rem;
  }


  .test2-option-a {
      grid-column: 2 / 5;
      grid-row: 51 / 52;
      align-self: start;
      justify-self: center;
      padding: 5rem 1.6rem;
      text-align: center;
  }

  .test2-option-a ul, .test2-option-b ul {
      padding: 0 1.6rem 0 3.2rem;
  }

  .test2-option-a li, .test2-option-b li {
      font-style: italic;
      margin-top: 3rem;
      text-align: left;
  }

  .test2-option-b {
      grid-column: 5 / 8;
      grid-row: 51 / 52;
      align-self: start;
      justify-self: center;
      padding: 5rem 1.6rem;
      text-align: center;
  }

  .test2-v1, .test2-v2 {
     max-width: 100%;
     height: auto;
  }

  .test2-conclusion {
      grid-column: 2 / 8;
      grid-row: 52 / 53;
      align-self: center;
      justify-self: center;
      padding: 3rem 1.6rem 7.5rem 1.6rem;
  }

  .test2-conclusion h4 {
      font-size: 3.6rem;
      text-align: center;
  }

  .test-3 {
      grid-column: 2 / 8;
      grid-row: 53 / 54;
      align-self: center;
      justify-self: center;
      padding: 7.5rem 1.6rem 3rem 1.6rem;
      text-align: center;
  }

  .test-3 h4 {
      margin-top: 1.6rem;
  }

  .test3-option-a {
      grid-column: 2 / 4;
      grid-row: 54 / 55;
      align-self: center;
      justify-self: center;
      max-width: 98%;
      padding: 3rem 0;
      text-align: center;
  }

  .test3-option-b {
      grid-column: 4 / 8;
      grid-row: 54 / 55;
      align-self: center;
      justify-self: center;
      max-width: 98%;
      padding: 3rem 0;
      text-align: center;
  }

  .test3-v1, .test3-v2 {
     max-width: 100%;
     height: auto;
  }

  .test3-conclusion {
      grid-column: 3 / 7;
      grid-row: 55 / 56;
      align-self: center;
      justify-self: center;
      padding: 5rem 1.6rem;
  }

  .test3-conclusion .quote {
      font-size: 1.8rem;
      font-style: italic;
      padding: 2rem 3rem 0 3rem;
  }

  .test3-lessons {
      grid-column: 2 / 8;
      grid-row: 56 / 57;
      align-self: center;
      justify-self: center;
      padding: 5rem 1.6rem 7.5rem 1.6rem;
  }

  .prototype-background {
      grid-row: 57 / 59;
  }

  .prototype-text {
      grid-column: 2 / 8;
      grid-row: 57 / 58;
      align-self: center;
      justify-self: center;
      padding: 7.5rem 1.6rem 5rem 1.6rem;
  }

  .prototype-end {
      border: .3rem solid #66D3C8;
      border-radius: 1.8rem;
      grid-column: 2 / 8;
      grid-row: 58 / 59;
      align-self: center;
      justify-self: center;
      margin: 0 0 9rem 0;
      padding: .8rem 1.5rem;
  }

  .conclusion-background {
      grid-row: 59 / 60;
  }

  .conclusion {
      grid-column: 2 / 8;
      grid-row: 59 / 60;
      align-self: center;
      justify-self: center;
  }

  .previous-desktop {
      display: block;
      background-color: #66D3C8;
      border: .1rem solid #66D3C8;
      border-radius: 1.8rem;
      color: #FFFFFF;
      grid-column: 2 / 4;
      grid-row: 61 / 62;
      align-self: center;
      justify-self: left;
      margin: 3rem;
      padding: .8rem 1.5rem;
  }

  .previous-mobile {
      display: none;
  }

  .link-to-top {
      grid-column: 2 / 8;
      grid-row: 61 / 62;
      align-self: center;
      justify-self: center;
      margin: 3rem;
      padding: .8rem 1.5rem;
  }

  .next-desktop {
      display: block;
      background-color: #66D3C8;
      border: .1rem solid #66D3C8;
      border-radius: 1.8rem;
      color: #FFFFFF;
      grid-column: 6 / 8;
      grid-row: 61 / 62;
      align-self: center;
      justify-self: right;
      margin: 3rem;
      padding: .8rem 3.2rem;
  }

  .next-mobile {
      display: none;
  }

}


@media only screen and (min-width: 1000px) {

  .container {
      grid-template-columns: 7rem repeat(6, 2fr) 7rem;
  }

  .persona-right {
      padding: 1.6rem 2rem 10rem 2rem;
  }

}


@media only screen and (min-width: 1100px) {

  .container {
      grid-template-columns: 10rem repeat(6, 2fr) 10rem;
  }

  .specs-column-mid {
      padding: 3rem 8rem 5rem 8rem;
  }

  .final-mockups {
      padding-bottom: 9rem;
  }

  .next2 {
      margin: 0 3rem 0 0;
  }

  .prev2 {
      margin: 0 0 0 2rem;
  }

}


@media only screen and (min-width: 1120px) {

  .draft-mockups, .final-mockups {
      max-width: 120rem;
  }

}


@media only screen and (min-width: 1200px) {

  .container {
      grid-template-columns: 12rem repeat(6, 2fr) 12rem;
  }

  .surveys-right {
      padding-top: 0;
  }

  .mockup-draft1, .mockup-draft2, .mockup-draft3, .mockup-draft4, .mockup-draft5 {
      padding: 0 .5rem;
  }

  .mockup-final1, .mockup-final2, .mockup-final3, .mockup-final4, .mockup-final5 {
      padding: 0 .5rem;
  }

}

@media only screen and (min-width: 1300px) {

  .container {
      grid-template-columns: 15rem repeat(6, 2fr) 15rem;
  }

}
